#order_data .order_data_column ._billing_company_field, #order_data .order_data_column ._billing_nip_field {
	width: 100%;
}

#order_data .order_data_column ._billing_nip_field {
	width: 50%;
}

.widefat .column-faktura {
	width: 130px;
}
#poststuff #faktury .inside {
	margin: 0;
	padding: 0;
}
#poststuff #faktury .totals_group:first-child {
	border-top: 0;
}
#poststuff #faktury .totals_group {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #DDD;
	padding: 10px 12px 0;
}
#poststuff #faktury h4 {
	margin: 0!important;
}
#poststuff #faktury .total_rows {
	margin: 6px 0 0;
}
#poststuff #faktury .total_rows1 .total_row:last-child {
	margin-bottom: 9px;
}
#poststuff #faktury .total_rows .total_row:first-child {
	border-top: 1px solid #dfdfdf;
}
#poststuff #faktury .total_row {
	margin: 0 -12px;
	border-bottom: 1px solid #DFDFDF;
	padding: 12px 12px 3px;
	background: #f8f8f8;
	position: relative;
}
#poststuff #faktury .total_row p.wide {
	clear: both;
}
#poststuff #faktury .total_row p {
	margin: 0 0 9px;
}
#poststuff #faktury .parametry {
  float: right;
	margin: 5px 10px 9px;
}

#order_data .order_data_column ._billing_faktura_field {
	float: right;
}
